html {
	font-family: "helvetica neue",arial, sans-serif;
	font-size: 12pt;
}

h1	{font-size: 2rem;}
h2	{font-size: 1.75rem;}
h3	{font-size: 1.5rem;}
p	{font-size: 1rem;}
small {font-size: 0.75rem;}

body {
	max-width: 100vw;
	max-height:100vh;
	color: lightskyblue;
	background-color: royalblue;
}

.container {
	width: 100%;
	box-sizing: border-box;

}

.center {
	text-align: center;
}

.button {
	border: 2px solid lightskyblue;
	background-color: lightskyblue;
	border-radius: 4px;
	padding: 2px 4px 4px 2px;
	font-weight: bold;
	color: royalblue;
}

.collapse > span {
	display: block;
	line-height: 0.3;
}

.main-header {
	width: 100%;
	height: 100px;
}

.content {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
	margin-top: 10px;
	margin-bottom: 10px;
}

.content > div {
	position: relative;
	background-color: lightskyblue;
	color: royalblue;

	max-width: 300px;
	max-height: 600px;
	padding: 10px;
	border-radius: 6px;
}

.content > div.live {
	box-shadow:
		1px 1px 7px 0px #474747,
		inset 0px -1px 10px 2px rgba(0, 0, 0, 0.35),
		inset 1px 1px 60px 45px rgba(255, 255, 255, 0.5);
}

.content > div.offline {
	box-shadow:
		inset 1px 2px 1px rgba(0,0,0,0.6),
		inset 0px -1px 15px 3px rgba(0,0,0,0.6);
	opacity: 0.5;
}


div.img {
	width: 100%;
	max-height:300px;
	object-fit: cover;
	border-radius: 6px;
	overflow: hidden;
}

img {
	width: 100%;
}

.controls{
	opacity: unset;
	opacity: 1;
	font-size: 0.9rem;
}
div.status {
	position: absolute;
	bottom: 5px;
	left: 5px;
}

div.link {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

span.offline {
	color: red;
	text-shadow: 0 0 3px red, 0 0 5px white;
}

span.live {
	font-weight: bold;
	font-size: 1rem;
	color: red;
	text-shadow: 0px 0px 12px white;
	text-shadow: 0 0 6px white;

}

.main-footer {
	width: 100%;
	height: 100px;
}
